@import "tailwindcss";
@import "./theme.css";

@theme inline {
  --color-background: var(--bg);
  --color-foreground: var(--text);
  --font-sans: var(--font-geist-sans), var(--font-sans);
  --font-mono: var(--font-geist-mono), var(--font-mono);
}
